* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(119, 207, 217, 0.553);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#logo {
  margin-bottom: 5rem;
}

#card {
  height: 35rem;
  width: 60rem;
  padding: 0rem 2rem 0rem 2rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 2rem;
  box-shadow: 0px 10px 15px 5px rgba(0, 0, 0, 0.24);
}

.left-card {
  height: 28rem;
  width: 28rem;
  display: flex;
  flex-direction: column;
  text-align: left;
  border-radius: 1.5rem;
  padding: 4rem 1rem 4rem 1rem;
}

.right-card {
  height: 23rem;
  width: 31rem;
  background-color: rgb(0, 78, 84);
  border-radius: 1.5rem;
  padding: 4rem 3rem 4rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.input-container-bill {
  position: relative;
}

.input-container-bill::before {
  content: url('../public/icon-dollar.svg');
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.bill-people-input {
  text-align: right;
  height: 1rem;
  width: 25rem;
  padding: 1rem;
  font-size: 2rem;
  border: 1px solid transparent;
  border-radius: .5rem;
  background-color: rgba(215, 215, 215, 0.393);
  outline: none;
  color: rgb(0, 78, 84);
  font-weight: 600;
}

.bill-people-input:focus {
  border:1px solid rgb(96, 238, 228);
}

.bill-people-input::placeholder {
  color: rgb(177, 177, 177);
}

.tips-buttons button {
  height: 3rem;
  width: 6.4rem;
  background-color: rgb(0, 78, 84);
  color: white;
  border: transparent;
  border-radius: .3rem;
  margin: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.custom-input {
  height: 3rem;
  width: 6.4rem;
  margin: .5rem;
  border: transparent;
  border-radius: .3rem;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(0, 78, 84);
  font-weight: 600;
}

.input-container-people {
  position: relative;
}

.input-container-people::before {
  content: url('../public/icon-person.svg');
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

label {
  font-size: 1.1rem;
  color: rgb(138, 138, 138);
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
}

.tip-total-amount {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tip-total-amount h1 {
  font-size: 3rem;
  letter-spacing: .3rem;
  color: rgb(96, 238, 228);
}

.dash-flex {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
}

.dash-flex p {
  color: rgb(181, 181, 181);
}

.reset-button {
  height: 3rem;
  width: 25rem;
  border: transparent;
  border-radius: .3rem;
  background-color: rgb(96, 238, 228);
  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(0, 74, 79);
  cursor: pointer;
}